.about-menu {
  max-width: 1124px;
  width: 100%;
  height: 364px;
  background-image: url(../../../images/photoPoushkin.svg);
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
  background-size: cover;
}

@media (max-width: 768px) {
  .about-menu {
    background-image: url(../../../images/photo2.svg);
  }
}

@media (max-width: 470px) {
  .about-menu {
    background-image: url(../../../images/photo3.svg);
    height: 255px;
  }
}

.about-menu__name {
  position: absolute;
  left: 80px;
  top: 80px;
  background: #ffffff;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  width: 389px;
  height: 204px;
}

@media (max-width: 768px) {
  .about-menu__name {
    width: 432px;
    left: 8px;
  }
}

@media (max-width: 470px) {
  .about-menu__name {
    width: 290px;
    height: 180px;
    top: 131px;
  }
}

.about-menu__poushkin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 313px;
  margin: auto;
  padding: 38px 0;
  height: 204px;
  box-sizing: border-box;
}

@media (max-width: 470px) {
  .about-menu__poushkin {
    padding-top: 24px;
    padding-bottom: 24px;
    height: 180px;
    align-items: center;
  }
}

.about-menu__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 42px;
  color: #1d1d1d;
  margin: 0;
}

@media (max-width: 470px) {
  .about-menu__title {
    font-size: 24px;
    line-height: 28px;
    color: #1d1d1d;
  }
}

.about-menu__fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 470px) {
  .about-menu__fix {
    flex-direction: column;
  }
}

.about-menu__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
  margin: 0;
}

@media (max-width: 470px) {
  .about-menu__price {
    margin-bottom: 16px;
  }
}

.about-menu__black {
  width: 100px;
  height: 32px;
  background: #262626;
  border-radius: 16px;
}

.about-menu__time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin: 8px 0;
  text-align: center;
}

.dish {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

@media (max-width: 600px) {
  .dish {
    display: none;
  }
}

.dish__menu {
  padding: 32px 0 29px 81px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media (max-width: 768px) {
  .dish__menu {
    padding-left: 0;
  }
}

.dish__filter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  margin: 0;
}

.snacks {
  max-width: 1124px;
  width: 100%;
  margin: 0 auto;
}
.snacks__container {
  padding: 56px 87px 80px 81px;
}

@media (max-width: 768px) {
  .snacks__container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 48px;
  }
}

.snacks__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  margin: 0 0 32px;
}

@media (max-width: 470px) {
  .snacks__title {
    margin: 56px 0;
    text-align: center;
  }
}

.snacks__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 470px);
  gap: 16px;
  row-gap: 49px;
}

@media (max-width: 768px) {
  .snacks__list {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
  }
}

@media (max-width: 470px) {
  .snacks__list {
    row-gap: 16px;
  }
}

.snacks__link {
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

@media (max-width: 470px) {
  .snacks__link {
    border: none;
    border-bottom: 1px solid rgba(117, 117, 117, 0.2);
  }
}

.snacks__about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0 16px 16px;
}

@media (max-width: 768px) {
  .snacks__about {
    padding-left: 24px;
  }
}

@media (max-width: 470px) {
  .snacks__about {
    padding: 0 0 15px;
  }
}
.snacks__subtitle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  margin: 0 0 4px;
}

@media (max-width: 470px) {
  .snacks__subtitle {
    font-size: 14px;
    line-height: 24px;
    text-overflow: ellipsis;
    width: 188px;
    overflow: hidden;
    white-space: nowrap;
  }
}

.snacks__description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #626262;
  margin: 0;
}

.snacks__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
  margin: 0;
}

.snacks__photo {
  width: 170px;
  height: 160px;
}

@media (max-width: 470px) {
  .snacks__photo {
    width: 102px;
    height: 102px;
  }
}
