.content {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .content {
    padding: 0 8px;
    box-sizing: border-box;
  }
}

.find {
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 56px;
  max-width: 1280px;
}

.form {
  max-width: 956px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(117, 117, 117, 0.3);
}

.form__request {
  mix-blend-mode: normal;
  opacity: 0.3;
  border: none;

  width: 100%;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #626262;
  max-width: 750px;
}

.restaurants {
  max-width: 956px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}

.restaurants__moscow {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  margin: 0 0 16px;
}

@media (max-width: 1024px) {
  .restaurants__moscow {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .restaurants__moscow {
    text-align: left;
  }
}

@media (max-width: 767px) {
  .restaurants__moscow {
    text-align: center;
  }
}

@media (max-width: 320px) {
  .restaurants__moscow {
    text-align: left;
  }
}

.cafes__list {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 6px;
  row-gap: 36px;
  grid-template-columns: repeat(auto-fit, 310px);
  list-style: none;
}

@media (max-width: 1024px) {
  .cafes__list {
    grid-template-columns: repeat(auto-fit, 368px);
    gap: 7px;
    row-gap: 16px;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .cafes__list {
    justify-content: start; 
  }
}

@media (max-width: 767px) {
  .cafes__list {
    grid-template-columns: repeat(auto-fit, 304px);
    row-gap: 14px;
justify-content: center;
  }
}

.description__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  margin: 0 0 4px;
}

.description__kitchen {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 0 0 4px;
}

.description__time {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin: 0;
}

.description__photo {
  width: 310px;
  height: 256px;
  margin: 0;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .description__photo {
    width: 368px;
  }
}

@media (max-width: 767px) {
  .description__photo {
    width: 304px;
    height: 250px;
  }
}

.description__secondPage {
  margin-bottom: 16px;
}
