.footer {
  max-width: 1124px;
  width: 100%;
  background-color: #262626;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer {
    padding: 0 9px;
    box-sizing: border-box;
  }
}

.footer__content {
  max-width: 956px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 191px;
  height: 20px;
  margin: 56px 0 41px;
}

@media (max-width: 320px) {
  .footer__logo {
    width: 192px;
    margin-bottom: 40px;
  }
}

.navigation {
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  border-top: 1px solid rgb(255, 255, 255, 0.4);
  display: grid;
  gap: 96px;
  grid-template-columns: repeat(auto-fit, 230px);
  padding: 32px 0 48px;
}

@media (max-width: 1024px) {
  .navigation {
    gap: 60px;
    grid-template-columns: repeat(auto-fit, 196px);
    padding: 39px 0 48px;
  }
}

@media (max-width: 450px) {
  .navigation {
    gap: 0;
    padding: 32px 0 40px;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .navigation__instrument {
    margin-bottom: 23px;
  }
}

.navigation__search {
  display: flex;
  width: 227px;
  height: 40px;
  background-color: #3b3b3b;
  border-radius: 2px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 32px;
}

@media (max-width: 768px) {
  .navigation__search {
    width: 176px;
  }
}

@media (max-width: 320px) {
  .navigation__search {
    width: 173px;
  }
}

.search__shape {
  background-image: url(../../images/Shape2.png);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-size: 20px;
  margin-right: 16.28px;
}

.navigation__food {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0 0 21px;
}

@media (max-width: 450px) {
  .footer__about {
    margin-bottom: 23px;
  }
}

.about__list {
  padding: 0;
  list-style: none;
  margin: 0;
}

.footer__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.footer__link:hover {
  opacity: 50%;
}

.about__margin {
  margin-bottom: 23px;
}

.about__margin:last-of-type {
  margin-bottom: 0;
}

.navigation__links {
  display: flex;
  width: 92px;
}

@media (max-width: 320px) {
  .navigation__links {
    width: 96px;
  }
}

.navigation__facebook {
  background-image: url(../../images/facebook.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.navigation__tweter {
  background-image: url(../../images/twitter.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.navigation__instagram {
  background-image: url(../../images/instagram.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.about-site {
  padding: 40px 0;
  display: grid;
  gap: 96px;
  grid-template-columns: repeat(auto-fit, 230px);
  align-items: center;
}

@media (max-width: 1024px) {
  .about-site {
    gap: 106px;
    grid-template-columns: repeat(auto-fit, 150px);
  }
}

@media (max-width: 767px) {
  .about-site {
    gap: 24px;
  }
}

.about-site__name {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  margin: 0;
}

@media (max-width: 768px) {
  .about-site__name {
    font-size: 9px;
  }
}


.about-site__personal {
  text-decoration: none;
}

.footer__application {
  padding: 40px 0;
  margin: 0 auto;
  max-width: 956px;
  width: 100%;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
}

@media (max-width: 450px) {
  .footer__application {
    padding: 24px 0;
  }
}

.application__google {
  background-image: url(../../images/en_badge_web_generic-cf6dad406f.svg);
  background-repeat: no-repeat;
  width: 135px;
  height: 40px;
  background-size: contain;
  cursor: pointer;
}

@media (max-width: 450px) {
  .application__google {
    width: 124px;
    height: 36px;
  }
}
